<div class="" [hidden]="newCompanyView">

  <!--<input name="term" [(ngModel)]="term">-->

  <!--<table>-->
    <!--<tr *ngFor="let song of songs | filter : term | sortBy: 'likes'">-->
      <!--<td>{{song.name}}</td>-->
      <!--<td>{{song.likes}}</td>-->
    <!--</tr>-->
  <!--</table>-->

  <div class="company">
    <div class="inner-addon right-addon">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" [(ngModel)]="newCompany.name" placeholder="Entreprise" />
    </div>
    <!-- <input type="text" class="form-control" placeholder="Ville"> -->
  </div>
  <br/><br/><br/>
  <div class="company-result text-center">
    <div class="row">

      <!--<div class="col-md-4" *ngFor="let company of companiesList" (click)="getCompany(company)">-->
      <div class="col-md-4" *ngFor="let company of companiesList | filter : newCompany.name | slice:0:6; let i=index" (click)="getCompany(company)">
        <img [src]="'../../../assets/'+company.type.toLowerCase()+'.png'" class="img-fluid rounded"/><br/>
        {{company.name}} - {{company.type}}
      </div>

      <div class="col-md-4" [class.toggled]="newCompanyView"><i (click)="setStatus(true)" class="fa fa-4x fa-plus-circle"></i></div>

    </div>
  </div>
</div>

<div class="" [hidden]="!newCompanyView">

  <div class="new-company">

    <input type="text" [(ngModel)]="newCompany.name" class="form-control" placeholder="Ajouter une entreprise" />
  </div>
  <br/><br/><br/>
  <div class="company-result">
    <div class="">
      <a class="btn btn-default" (click)="setStatus(false)"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="row text-center" [@newCompanyState]="stateNewCompany">
      <div class="col-md-4" (click)="createCompany('Start Up')"><img src="../../../assets/startup.png" class="img-fluid rounded"/> Start Up</div>
      <div class="col-md-4" (click)="createCompany('PME')"><img src="../../../assets/pme.png" class="img-fluid rounded"/> PME</div>
      <div class="col-md-4" (click)="createCompany('Labo')"><img src="../../../assets/labo.png" class="img-fluid rounded"/> Labo</div>
      <div class="col-md-4" (click)="createCompany('Grande Entreprise')"><img src="../../../assets/grande%20entreprise.png" class="img-fluid rounded"/> Grande Entreprise</div>
      <!--<div class="col-md-4" (click)="createCompany('Start Up')"><img src="http://via.placeholder.com/150x100?text=StartUp" class="img-fluid rounded"/></div>-->
      <!--<div class="col-md-4" (click)="createCompany('PME')"><img src="http://via.placeholder.com/150x100?text=PME" class="img-fluid rounded"/></div>-->
      <!--<div class="col-md-4" (click)="createCompany('Labo')"><img src="http://via.placeholder.com/150x100?text=Labo" class="img-fluid rounded"/></div>-->
      <!--<div class="col-md-4" (click)="createCompany('Grande Entreprise')"><img src="http://via.placeholder.com/150x100?text=Grande Entr" class="img-fluid rounded"/></div>-->
    </div>
  </div>
</div>
