.company {
  margin: 10vh 10vw 0vh 10vw;
}

.company-result {
  //margin: 0vh 0vw 30vh 0vw;
  margin: 0vh 0vw 0vh 0vw;
}

input {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .fa { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

.btn-next {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.new-company {
  margin: 10vh 10vw 0vh 10vw;
}
