<div class="top">

</div>

<div class="content">
  <div class="text-center">
    <ul>
      <li mwlDraggable dropData="all markers">
        <i class="fa fa-3x fa-eye"></i>
      </li>
      <li (click)="openModal()"
        [class.dropOverActive]="dropOverActive"
          mwlDroppable
          (dragEnter)="dropOverActive = true"
          (dragLeave)="dropOverActive = false"
          (drop)="onDrop($event)">
        <i [hidden]="droppedData || dropOverActive" class="fa fa-3x fa-envelope-o"></i>
        <i [hidden]="!dropOverActive" class="fa fa-3x fa-envelope-open-o"></i>
        <i [hidden]="!droppedData" class="fa fa-3x fa-check-circle"></i>
      </li>
    </ul>
  </div>
</div>

<div class="bottom">
  <div class="text-center">
    <img src="./assets/former-logo.jpg" height="100" width="100">

  </div>
</div>
