<div class="top">

</div>

<div class="content">
  <div class="text-center">

    <ul>
      <li><i class="fa fa-3x fa-eye"></i></li>
      <li><i class="fa fa-3x fa-shopping-basket"></i></li>
    </ul>

    <!--<br/><hr/><br/>-->
    <!--<br/><hr/><br/>-->
    <!--<br/><hr/>-->
    <!--<i class="fa fa-3x fa-eye"></i>-->
    <!--<br/><hr/>-->
    <!--<i class="fa fa-3x fa-shopping-basket"></i>-->
    <!--<br/><hr/><br/>-->

  </div>
</div>

<div class="bottom">
  <div class="text-center">
    <img src="./assets/former-logo.jpg" height="100" width="100">

  </div>
</div>
