<div class="top">

</div>

<div class="content">
  <div class="text-center">

    <div
      [class.dropOverActive]="dropOverActive"
      mwlDroppable
      (dragEnter)="dropOverActive = true"
      (dragLeave)="dropOverActive = false"
      (drop)="onDrop($event)">
      <span [hidden]="droppedData">Drop here</span>
      <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
    </div>

    <ul>
      <li><i class="fa fa-3x fa-eye"></i></li>
      <li><i class="fa fa-3x fa-shopping-basket"></i></li>
    </ul>

    <!--<br/><hr/><br/>-->
    <!--<br/><hr/><br/>-->
    <!--<br/><hr/>-->
    <!--<i class="fa fa-3x fa-eye"></i>-->
    <!--<br/><hr/>-->
    <!--<i class="fa fa-3x fa-shopping-basket"></i>-->
    <!--<br/><hr/><br/>-->

  </div>
</div>

<div class="bottom">
  <div class="text-center">
    <img src="./assets/former-logo.jpg" height="100" width="100">

  </div>
</div>
