<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!--<aol-map (onPointerMove)="highlightCountry($event)" [width]="'100vw'" [height]="'100vh'" [loadTilesWhileAnimating]="true">-->
      <aol-map [@popOverState]="stateName" [width]="'100vw'" [height]="'100vh'" [loadTilesWhileAnimating]="true">
        <aol-view #myView [zoom]="zoom">
          <aol-coordinate [x]="0" [y]="43.710172" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-view>

        <aol-overlay>
          <aol-coordinate
            [x]="center.x"
            [y]="center.y"
            [srid]="'EPSG:4326'"
          >
          </aol-coordinate>
          <aol-content>
            <!--<div class="container">-->
              <div class="row">
                <div class="col-md-2">
                  <img class="rounded img-fluid" src="../../assets/former-logo.jpg" />
                </div>
                <div class="col-md-6">
                  <h3>{{experienceSelected.companyID}}</h3>
                  <b><h6>{{experienceSelected.location}}</h6></b>
                  <i><h6>{{experienceSelected.userID}}</h6></i>
                  <p>Lorem ipsum</p>
                </div>
              </div>
            <!--</div>-->
          </aol-content>
        </aol-overlay>

        <!--<aol-layer-vectortile-->
          <!--[renderMode]="'vector'"-->
          <!--[maxResolution]="312"-->
          <!--[style]="myStyle"-->
          <!--[zIndex]="20"-->
        <!--&gt;-->
          <!--<aol-source-vectortile-->
            <!--[tilePixelRatio]="16"-->
            <!--[tileUrlFunction]="tileUrlFn"-->
            <!--aol-url="https://openlayers.org/en/v4.5.0/examples/data/geojson/countries.geojson"-->
          <!--&gt;-->
            <!--<aol-attributions>-->
              <!--<aol-attribution>&copy; by me</aol-attribution>-->
            <!--</aol-attributions>-->
            <!--<aol-format-mvt></aol-format-mvt>-->
            <!--<aol-tilegrid-->
              <!--[minZoom]="5"-->
              <!--[extent]="tileGridExtent"-->
            <!--&gt;-->
            <!--</aol-tilegrid>-->
          <!--</aol-source-vectortile>-->
        <!--</aol-layer-vectortile>-->

        <aol-layer-tile>
          <aol-layer-vector>
            <!--<aol-source-osm></aol-source-osm>-->
            <aol-source-geojson [url]="url"></aol-source-geojson>
          </aol-layer-vector>
        </aol-layer-tile>


          <aol-layer-vector>
          <aol-source-vector>

            <aol-feature *ngFor="let exp of experiencesList">
              <aol-geometry-point>
                <aol-coordinate [x]="exp.coords.longitude" [y]="exp.coords.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
              </aol-geometry-point>
              <aol-style>
                <!-- get(loc.userID) -->
                <aol-style-icon [src]="'../../assets/marker.png'" [scale]="0.5" [anchor]="[0.5,1]" [anchorOrigin]="'top-left'"></aol-style-icon>
                <!--<aol-style-icon [src]="'../../assets/marker-'+toLowerCase(getUserById(exp.userID).department)+'.png'" [scale]="0.5" [anchor]="[0.5,1]" [anchorOrigin]="'top-left'"></aol-style-icon>-->
                <!--<aol-style-circle [radius]="10">-->
                  <!--<aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>-->
                  <!--<aol-style-fill [color]="'green'"></aol-style-fill>-->
                <!--</aol-style-circle>-->
              </aol-style>
            </aol-feature>
            <!--<aol-feature>-->
              <!--<aol-geometry-point>-->
                <!--<aol-coordinate [x]="5.1" [y]="45.1" [srid]="'EPSG:4326'"></aol-coordinate>-->
              <!--</aol-geometry-point>-->
              <!--<aol-style>-->
                <!--<aol-style-icon-->
                  <!--[src]="'assets/marker.png'"-->
                  <!--[anchor]="[0.5, 1]"-->
                  <!--[anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"-->
                  <!--[scale]="0.1"-->
                  <!--[anchorOrigin]="'top-left'">-->
                <!--</aol-style-icon>-->
              <!--</aol-style>-->
            <!--</aol-feature>-->
          </aol-source-vector>
        </aol-layer-vector>
      </aol-map>
    </div>

    <button (click)="takeTour(0)">Take a tour</button>
    <div [@popOverState]="stateName">
      <p>Hello! I'm a helpful message.</p>
    </div>
    <button (click)="toggle()">Toggle PopOver</button>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<div id="map" class="map"></div>-->
      <!--<div id="popup" class="ol-popup ">-->
        <!--<a href="#" id="popup-closer" class="ol-popup-closer"></a>-->
        <!--<div id="popup-content"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button id="tour">Take a tour</button>-->
  <!--</div>-->
</div>
