<a class="btn btn-primary" href="/form/1">form</a>
<a class="btn btn-primary" href="/platform">platform</a>
<a class="btn btn-primary" href="/global">global</a>
<div class="row">

  <select [(ngModel)]="myselectCompany" mbsc-select [mbsc-options]="settingsCompany" >
    <optgroup label="A">
      <option value="0">Adaline Shiver</option>
      <option value="1" >Adella Cornell</option>
      <option value="2" >Adolph Scriber</option>
      <option value="3" disabled>Adrianna Merritt</option>
      <option value="4" disabled>Adrianne Marotta</option>
    </optgroup>
    <optgroup label="B">
      <option value="78">Barbara Mackay</option>
      <option value="79">Barbera Phu</option>
      <option value="80">Barbie Kaczorowski</option>
      <option value="81">Barney Flurry</option>
      <option value="82">Beatriz Remer</option>
    </optgroup>
    <!-- Showing partial data. Download full source. -->
  </select>

  <mbsc-form>
    <div class="mbsc-form-group">
      <div class="mbsc-form-group-title">Embedded treelist scroller</div>
      <ul mbsc-treelist [(ngModel)]="inlineList" [mbsc-options]="listInlineSettings">
        <li data-val="America">America
          <ul>
            <li data-val="Mexico">Mexico</li>
            <li data-val="Brasil">Brasil</li>
          </ul>
        </li>
        <li data-val="Europe">Europe
          <ul>
            <li data-val="Germany">Germany</li>
            <li data-val="France">France</li>
            <li data-val="Italy">Italy</li>
          </ul>
        </li>
        <li data-val="Asia">Asia
          <ul>
            <li data-val="China">China</li>
          </ul>
        </li>
      </ul>
    </div>
  </mbsc-form>

</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="users" *ngIf="usersList">
      <table class="table">
        <thead class="h">
        <tr class="h">
          <th class="h">Id</th>
          <th class="h">Prénom</th>
          <th class="h">Nom</th>
          <th class="h">Date</th>
          <th class="h">Status</th>
          <th class="h">Option</th>
          <th class="h">Spécialité</th>
          <th class="h">Bouton</th>
        </tr>
        </thead>
        <tbody>
        <tr class="user" (dblclick)="editUser(user)" *ngFor="let user of usersList">

          <ng-container *ngIf="!editUsers.includes(user); else editTD">
            <td>{{user._id}}
              <button class="btn btn-success" (click)="doneUser(user)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editUser(user)">
                <i  class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteUser(user)">
                <i  class="fa fa-trash"></i>
              </button>
            </td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.date | date}}</td>
            <td>{{user.department}}</td>
            <td>{{user.option}}</td>
          </ng-container>

          <ng-template #editTD>
            <td><input type="text" name="title" id="title" (keypress)="submitUser($event, user)" [(ngModel)]="user.firstname" placeholder="Title" class="form-control"></td>
            <td><input type="text" name="description" id="description" (keypress)="submitUser($event, user)" [(ngModel)]="user.lastname" placeholder="Description"
                       class="form-control"></td>
            <td>{{user.date | date}}</td>
            <td>
              <input type="text" name="status" id="status" (keypress)="submitUser($event, user)" [(ngModel)]="user.lastname" placeholder="Status" class="form-control">
            </td>
          </ng-template>


          <td class="o">
            <button class="btn btn-success" (click)="doneUser(user)">
              <i  class="fa fa-check"></i>
            </button>
            <button class="btn btn-primary" (click)="editUser(user)">
              <i  class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteUser(user)">
              <i  class="fa fa-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <!--    <div class="todos" *ngIf="todosList">
          <table class="table">
            <thead class="h">
            <tr class="h">
              <th class="h">Title</th>
              <th class="h">Description</th>
              <th class="h">Date</th>
              <th class="h">Status</th>
              <th class="h">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr class="todo" (dblclick)="editTodo(todo)" *ngFor="let todo of todosList">

              <ng-container *ngIf="!editTodos.includes(todo); else editTD">
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.date | date}}</td>
                <td>{{todo.status}}</td>
              </ng-container>

              <ng-template #editTD>
                <td><input type="text" name="title" id="title" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.title" placeholder="Title" class="form-control"></td>
                <td><input type="text" name="description" id="description" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.description" placeholder="Description"
                           class="form-control"></td>
                <td>{{todo.date | date}}</td>
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.status" placeholder="Status" class="form-control">
                </td>
              </ng-template>

              <td class="o">
                <button class="btn btn-success" (click)="doneTodo(todo)">
                  <i  class="fa fa-check"></i>
                </button>
                <button class="btn btn-primary" (click)="editTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteTodo(todo)">
                  <i  class="fa fa-trash"></i>
                </button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="title" id="title" [(ngModel)]="newTodo.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="description" id="description" [(ngModel)]="newTodo.description" placeholder="Description" class="form-control"
                 id="description">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createTodo()">Add Todo</button>
        </div>
      </div>
    </form>-->

    <form>
    <div class="form-row">

      <div class="col-md-3">
        <input type="text" name="title" [(ngModel)]="newUser.firstname" placeholder="Prénom" class="form-control">
      </div>
      <div class="col-md-3">
        <input name="description" [(ngModel)]="newUser.lastname" placeholder="Nom" class="form-control">
      </div>
      <div class="col-md-3">
        <input name="description" [(ngModel)]="newUser.email" placeholder="@" class="form-control">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" (click)="createUser()">Add User</button>
      </div>
    </div>
  </form>

    <form>
      <div class="form-row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" (click)="createExperience()">Add Experience</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
  <!--<form>-->
    <!--<div class="form-row">-->
      <!--<div class="col-md-3">-->
        <!--{{newDpt.name}}-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<button type="submit" class="btn btn-primary" (click)="createTag()">Add Tags</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
</div>
