
.btn {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 5vh 0 5vh 0;
  padding: 2vh 0 2vh 0;
  width: 40vw;

  background-color: rgb(250, 250, 250);

}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
