<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div mwlDraggable dropData="foo">
      <i class="fa fa-4x fa-map-marker"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"><div mwlDraggable dropData="foo">
    <i class="fa fa-4x fa-map-marker"></i>
  </div></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div mwlDraggable dropData="foo">
      <i class="fa fa-4x fa-map-marker"></i>
    </div>
  </div>
</div>


