$from: rgb(49, 204, 214);
$to: rgb(4, 141, 254);

@mixin gradient($from, $to) {
  background: $from; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, $from, $to); /* Standard syntax */
}

.modalComponent {
}

.modal-body {
  height:40vh;
}

.container-top {
  width: 3vw;
}

.modal-header {
  @include gradient($to, $from);
  color: white;
}

.badge-default {
  background-color: #efefef;
}

img {
    //background-color: white;
  @include gradient($to, $from);

  border-radius: 20%;
    //border: 1px solid grey;
    padding:10px;

}

ul {
  list-style-type: none;
  //margin: 0;
  padding: 10px;
}

li {
  /*margin-top: 5px;*/
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
}

$square-size:60px;
.circle-badge {
  height: $square-size;
  width: $square-size;
  line-height:$square-size;
  text-align: center;
  border-radius: 50px;
  background: #1ACAC0;
  color:white;
  margin-left:auto;
  margin-right:auto;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-info, .card__meta a {
  color: #3299BB !important;
  display: inline-flex;
  vertical-align: middle;
  line-height: 2;
  font-size: 1rem;
}
.card__meta i.small {
  font-size: 1.5rem;
}
.card .card-content .card-title {
  line-height: 34px;
  border-radius: 0;
  border-width: 0;
  /* border-radius: 0.25rem; */
}
.card__date {
  background: #08c;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 7px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card .card-content .card-title {
  color: #0D8080 !important;
  line-height: 18px;
}

.card .card-title {

  font-size: 18px;
  font-weight: 400;
}

.card .card-content p{
  color: #1E1E1E;
  font-size: 13px;
}

.collapsible{
  background: #fff;
}

.card-row {
  margin-bottom: 4px;
  margin-top: 4px;
}
.card-action i {
  vertical-align: text-bottom;
  font-size: 21px;
}


//nav ul>li>a, nav .brand-logo  {
//  color: #fff;
//}

//#container {
//  padding: 20px 10px;
//}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0rem;
  margin-bottom:2vh;
}
