<div class="modal-header">
  <h4 class="modal-title">Vous connaître</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="" [hidden]="idModal != 0">
    <div class="row text-center">
      <div class="col-md-6" (click)="nextModal()"><img src="http://via.placeholder.com/150x100?text=Emploi" class="img-responsive rounded"/></div>
      <div class="col-md-6" (click)="nextModal()"><img src="http://via.placeholder.com/150x100?text=Etude" class="img-responsive rounded"/></div>
    </div>
  </div>

  <div class="" [hidden]="idModal != 1">
    <!--do a ngFor-->

    <div (click)="nextModal()">BAT <span class="badge badge-info">12</span></div>
    <div (click)="nextModal()">ELEC <span class="badge badge-info">23</span></div>
    <div (click)="nextModal()">SI <span class="badge badge-info">65</span></div>
    <div (click)="nextModal()">MAM <span class="badge badge-info">36</span></div>
  </div>

  <div class="" [hidden]="idModal != 2">
    <div class="row text-center">
      <div class="col-md-4" (click)="nextModal()"><img src="http://via.placeholder.com/150x100?text=Etranger" class="img-responsive rounded"/></div>
      <div class="col-md-4" (click)="nextModal()"><img src="http://via.placeholder.com/150x100?text=France" class="img-responsive rounded"/></div>
      <div class="col-md-4" (click)="nextModal()"><img src="http://via.placeholder.com/150x100?text=Local" class="img-responsive rounded"/></div>
    </div>
  </div>

  <div class="" [hidden]="idModal != 3">

    <span class="badge badge-default">Default</span>
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-danger">Danger</span>

  </div>

  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" [hidden]="idModal != 3">Terminer</button>
</div>
