<div class="new-company">

    <input type="text" [(ngModel)]="newCompany.name" class="form-control" placeholder="Ajouter une entreprise" />
</div>
<br/><br/><br/>
<div class="company-result">
  <div class="" [class.toggled]="newCompanyView">
    <a class="btn btn-default" (click)="setStatus(false)"><i class="fa fa-chevron-left"></i></a>
  </div>
  <div class="row text-center">
    <div class="col-md-4" (click)="createCompany('Start Up')"><img src="http://via.placeholder.com/150x100?text=StartUp" class="img-responsive rounded"/></div>
    <div class="col-md-4" (click)="createCompany('Labo')"><img src="http://via.placeholder.com/150x100?text=Labo" class="img-responsive rounded"/></div>
    <div class="col-md-4" (click)="createCompany('Grande Entreprise')"><img src="http://via.placeholder.com/150x100?text=Grande Entr" class="img-responsive rounded"/></div>
  </div>
</div>
