.new-company {
  margin: 10vh 10vw 0vh 10vw;
}

.company-result {
  margin: 0vh 0vw 30vh 0vw;
}

input {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.btn-next {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
