<div class="new-company">
    <input type="text" class="form-control" placeholder="Entreprise" />
</div>
<br/><br/><br/>
<div class="company-result text-center">
  <div class="row">
    <div class="col-md-4"><img src="http://via.placeholder.com/150x100" class="img-responsive img-rounded"/></div>
    <div class="col-md-4"><img src="http://via.placeholder.com/150x100" class="img-responsive img-rounded"/></div>
    <div class="col-md-4"><img src="http://via.placeholder.com/150x100" class="img-responsive img-rounded"/></div>
  </div>
</div>
