$from: rgb(49, 204, 214);
$to: rgb(4, 141, 254);

$height-center: 66vh;
$width-center: 84vw;

$margin-h:0.5vh;
$margin-w:0.5vw;

@mixin gradient($from, $to) {
  background: $from; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
  background: linear-gradient($from, $to); /* Standard syntax */
}

.app-platform {
  @include gradient($from, $to);
  height: 100vh;
}

app-center {
  position: absolute;
  height: $height-center;
  width: $width-center;
  top: $margin-h;
  left: $margin-w;

  background: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

app-right {
  position: absolute;
  height: 99vh;
  width:  98.5vw - $width-center;
  right:$margin-w;
  top:$margin-h;

  background-color: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

app-bottom {
  position: absolute;
  height: 98vh - $height-center;
  width: $width-center;
  bottom: $margin-h;
  left: $margin-w;

  background-color: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
