<div class="perso" [class.toggled]="getNewUser" (click)="setStatus(newUserChild)">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newUserChild.firstname" [ngModelOptions]="{standalone: true}" placeholder="Prénom"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newUserChild.lastname" [ngModelOptions]="{standalone: true}" placeholder="Nom"/>
        </div>
      </div>
    </div>

    <br/><br/>

    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="newUserChild.email" [ngModelOptions]="{standalone: true}" placeholder="@"/>
      <small id="emailHelp" class="form-text text-muted">Les étudiants pourront prendre contact avec vous</small>
    </div>

    <br/><br/>
{{inlineList}}
    <div class="row text-center">
      <div class="col-md-12">
        <mbsc-form>
          <div class="mbsc-form-group">
            <ul mbsc-treelist [(ngModel)]="inlineList" [mbsc-options]="listInlineSettings" [ngModelOptions]="{standalone: true}">
              <li *ngFor="let dEnum of departmentsEnumList">{{dEnum.name}}
                <ul *ngFor="let o of dEnum.option">
                  {{o}}
                  <!--<li>{{o}}</li>-->
                </ul>
              </li>

              <!--<li data-val="SI">SI-->
                <!--<ul>-->
                  <!--<li data-val="IHM">IHM</li>-->
                  <!--<li data-val="AL">AL</li>-->
                  <!--<li data-val="WEB">WEB</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li data-val="Elec">ELEC-->
                <!--<ul>-->
                  <!--<li data-val="1">1</li>-->
                  <!--<li data-val="2">2</li>-->
                  <!--<li data-val="3">3</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li data-val="MAM">MAM-->
                <!--<ul>-->
                  <!--<li data-val="IMAFA">IMAFA</li>-->
                  <!--<li data-val="INUM">INUM</li>-->
                  <!--<li data-val="SD">SD</li>-->
                <!--</ul>-->
              <!--</li>-->
            </ul>
          </div>
        </mbsc-form>

        <!--<p>-->
          <!--BAT<br/>-->
          <!--ELEC<br/>-->
          <!--GB<br/>-->
          <!--SI<br/>-->
        <!--</p>-->

        <!--<select class="form-control">-->
          <!--<option>BAT</option>-->
          <!--<option>Elec</option>-->
          <!--<option>GB</option>-->
          <!--<option>SI</option>-->
        <!--</select>-->
      </div>
      <!--<div class="col-md-6">-->
        <!--<p>-->
          <!--AL<br/>-->
          <!--CASPAR<br/>-->
          <!--IHM<br/>-->
          <!--WEB<br/>-->
        <!--</p>-->
        <!--<select class="form-control">-->
          <!--<option>AL</option>-->
          <!--<option>CASPAR</option>-->
          <!--<option>IHM</option>-->
          <!--<option>WEB</option>-->
        <!--</select>-->
      <!--</div>-->
    </div>
  </form>
</div>
<br/><br/><br/>
