<div class="perso">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
      </div>
    </div>

    <br/><br/>

    <div class="form-group">
      <input type="email" class="form-control" placeholder="@">
      <small id="emailHelp" class="form-text text-muted">Les étudiants pourront prendre contact avec vous</small>
    </div>

    <br/><br/>

    <div class="row text-center">
      <div class="col-md-6">
        <p>
          BAT<br/>
          ELEC<br/>
          GB<br/>
          SI<br/>
        </p>
        <!--<select class="form-control">-->
          <!--<option>BAT</option>-->
          <!--<option>Elec</option>-->
          <!--<option>GB</option>-->
          <!--<option>SI</option>-->
        <!--</select>-->
      </div>
      <div class="col-md-6">
        <p>
          AL<br/>
          CASPAR<br/>
          IHM<br/>
          WEB<br/>
        </p>
        <!--<select class="form-control">-->
          <!--<option>AL</option>-->
          <!--<option>CASPAR</option>-->
          <!--<option>IHM</option>-->
          <!--<option>WEB</option>-->
        <!--</select>-->
      </div>
    </div>
  </form>
</div>
<br/><br/><br/>

<div class="bottom">
  <a class="btn btn-default btn-lg btn-next pull-right" href="#">Suivant</a>
</div>
