<div class="perso" [class.toggled]="getNewUser" (click)="setStatus(newUserChild)">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newUserChild.firstname" [ngModelOptions]="{standalone: true}" placeholder="Prénom"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newUserChild.lastname" [ngModelOptions]="{standalone: true}" placeholder="Nom"/>
        </div>
      </div>
    </div>

    <br/><br/>

    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="newUserChild.email" [ngModelOptions]="{standalone: true}" placeholder="@"/>
      <small id="emailHelp" class="form-text text-muted">Les étudiants pourront prendre contact avec vous</small>
    </div>

    <br/><br/>

    <div class="row text-center">
      <div class="col-md-6">
        <p>
          BAT<br/>
          ELEC<br/>
          GB<br/>
          SI<br/>
        </p>
        <!--<select class="form-control">-->
          <!--<option>BAT</option>-->
          <!--<option>Elec</option>-->
          <!--<option>GB</option>-->
          <!--<option>SI</option>-->
        <!--</select>-->
      </div>
      <div class="col-md-6">
        <p>
          AL<br/>
          CASPAR<br/>
          IHM<br/>
          WEB<br/>
        </p>
        <!--<select class="form-control">-->
          <!--<option>AL</option>-->
          <!--<option>CASPAR</option>-->
          <!--<option>IHM</option>-->
          <!--<option>WEB</option>-->
        <!--</select>-->
      </div>
    </div>
  </form>
</div>
<br/><br/><br/>
