<h1>Sujet</h1>
<br/><br/>
<div class="card">
  <div class="card-block">
      <span *ngFor="let key of filtersEnumList">
          <span class="badge badge-default" (click)="addKeyword(key.name)" [hidden]="keywordsSelected.includes(key.name)">{{key.name}}</span>
          <span class="badge badge-primary" (click)="removeKeyword(key.name)" [hidden]="!keywordsSelected.includes(key.name)">{{key.name}}</span>
        </span>
  </div>
</div>
<!--<p class="text-center">-->
  <!--2017<br/>-->
  <!--2016<br/>-->
  <!--2015<br/>-->
  <!--2014<br/>-->
<!--</p>-->
