<br/>
<div class="row">
  <div class="col-md-2">
    <p class="text-center">
    Toutes les années <br/>
    2017 <br/>
    2016 <br/>
    2015 <br/>
    </p>
  </div>
  <div class="col-md-2">
    <form>
      <div class="form-group">
        <select multiple class="form-control">
          <option>BAT</option>
          <option>ELEC</option>
          <option>GB</option>
          <option>GE</option>
          <option>MAM</option>
          <option>SI</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <!--<form>-->
      <!--<div class="form-group">-->
        <!--<select multiple class="form-control">-->
          <!--<option>AL</option>-->
          <!--<option>CASPAR</option>-->
          <!--<option>IAM</option>-->
          <!--<option>IHM</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</form>-->
  </div>
  <div class="col-md-3">
    <div class="inner-addon right-addon">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Entreprise" />
    </div>
    <div class="card">
      <div class="card-block">
        x Monaco Telecom x Thales<br/>
        x Amadeus x Sogeti
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <form>
      <div class="form-group">
        <select multiple class="form-control">
          <option>Stage</option>
          <option>Emploi</option>
          <option>Echange</option>
        </select>
      </div>
    </form>
  </div>
</div>
