/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .fa { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
