<br/>
<div class="row">

  <div class="col-md-3">
    <!--<div class="inner-addon right-addon">-->
    <!--<i class="fa fa-search"></i>-->
    <!--<input type="text" class="form-control" placeholder="Entreprise" />-->
    <!--</div>-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--x Monaco Telecom x Thales<br/>-->
    <!--x Amadeus x Sogeti-->
    <!--</div>-->
    <!--<div (click)="updateAboutUser()">-->
    <select  mbsc-select [mbsc-options]="settingsCompany">
    <!--<select [(ngModel)]="aboutUser.companies" mbsc-select [mbsc-options]="settingsCompany" [onItemTap]="updateAboutUser()">-->
      <optgroup *ngFor="let companies of companiesListSort" [label]="companies[0][0]">
        <option *ngFor="let company of companies" [ngValue]="company" >{{company}}</option>
      </optgroup>
    </select>
    <!--</div>-->

    <!--</div>-->

  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-2">
    <div class="btn-group" [hidden]="aboutUser.currentYear">
      <button class="btn btn-default shadow" (click)="changeBoolCurrent(true)" >Année courante</button>
      <button class="btn btn-default shadow" (click)="changeBoolCurrent(true)"><i class="fa fa-circle-o"></i></button>
    </div>
    <div class="btn-group" [hidden]="!aboutUser.currentYear">
      <button class="btn btn-default shadow" (click)="changeBoolCurrent(false)">Année courante</button>
      <button class="btn btn-primary shadow" (click)="changeBoolCurrent(false)"><i class="fa fa-check-circle-o"></i></button>
    </div>

  </div>

  <div class="col-md-5">
    <div class="card" style="height:20vh">
      <div class="card-block">
        <!--<span *ngFor="let key of aboutUser.filters" class="badge badge-primary">{{key}}</span>-->
        <span *ngFor="let key of aboutUser.filters" class="badge badge-primary" (click)="removeKeyword(key)">{{key}}</span>
        <span class="badge badge-info" [hidden]="!aboutUser.currentYear">2017</span>

      </div>
    </div>

    <!--<form>-->
    <!--<div class="form-group">-->
    <!--<select multiple class="form-control">-->
    <!--<option>AL</option>-->
    <!--<option>CASPAR</option>-->
    <!--<option>IAM</option>-->
    <!--<option>IHM</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</form>-->
  </div>
</div>
