<div class="legal">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor justo sit amet nunc fringilla elementum. Integer elit lorem, imperdiet ut elementum eget, convallis nec quam. Integer elementum, leo a tristique facilisis, sem mauris ultricies orci,
    ac tempus felis sem at sapien. In faucibus lectus in malesuada ultricies. Donec sodales vehicula est, eu dictum sem venenatis ac. Etiam sem libero, imperdiet ut dui non, eleifend scelerisque lectus. Mauris massa ex, convallis ut commodo id, commodo
    sit amet velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac tortor metus. Praesent porta urna vitae neque interdum luctus sed ut dolor. Donec elit quam, laoreet quis sollicitudin ac, congue id urna. Ut gravida ipsum nec sodales
    suscipit. Cras consequat dapibus commodo. Maecenas turpis augue, egestas at ante a, consectetur mollis neque. Fusce dapibus, erat et ultricies iaculis, nunc justo gravida tellus, ac placerat ex sem eu nibh. Curabitur vitae hendrerit erat, non scelerisque
    dui. Fusce sit amet viverra turpis. Ut cursus bibendum mi eu commodo. Etiam fringilla arcu a porta tincidunt. Suspendisse lectus ligula, ullamcorper ac augue ac, faucibus varius massa. Maecenas finibus tellus nec consectetur hendrerit. Curabitur tempus
    dui in dolor consectetur venenatis. Nam lobortis dignissim odio a vestibulum. Aenean sollicitudin nunc nec enim dapibus, ut scelerisque urna suscipit. Praesent libero diam, fringilla ac metus vitae, consequat venenatis velit. Aliquam enim lorem, molestie
    id lectus et, aliquam interdum felis. Proin convallis leo id neque congue, vel eleifend justo mattis.
  </p>
</div>
<br/>
<form>
  <!-- todo: changer le style -->
  <div class="checkbox">
    <label><input type="checkbox" value="">J'ai lu et j'accepte les conditions générales d'utilisation</label>
  </div>
</form>
