<div class="app-form">
  {{id}}
  {{newUser.firstname}}
  {{newUser.lastname}}
  {{newUser.email}}
  {{newUser.department}}
  {{newUser.option}}
  <br/>
  {{companySelected.name}}
  {{companySelected.type}}
  {{companySelected.experience}}
  <br/>
  {{newExperience.type}}
  {{newExperience.location}}
  ({{newExperience.coords.latitude}}, {{newExperience.coords.longitude}})
  {{newExperience.companyID}}
  {{newExperience.userID}}
  <div class="row">
    <div class="container-form">
      <div class="container-top" [hidden]="id == 1">
        <a (click)="previousPage(id)"><i class="fa fa-2x fa-chevron-left"></i></a>
      </div>

      <div class="container-content" [hidden]="id != 1">
        <app-type-mobility
          [(nextPage)]="id"
          [(type)]="newExperience.type"
        ></app-type-mobility>
      </div>



      <div class="container-content-3" [hidden]="id != 2">
        <app-city [hidden]="newExperience.type != 'Emploi'"></app-city>
        <app-country [hidden]="newExperience.type != 'Echange'"></app-country>
      </div>

      <div class="container-content-3" [hidden]="id != 3">
        <app-company [hidden]="newExperience.type != 'Emploi'"
          [(nextPage)]="id"
          [(companyID)]="newExperience.companyID"
          [(companySelected)]="companySelected">
          <!--[(newCompanyView)]="newCompanyView"-->
          <!--[hidden]="newCompanyView>"-->
        </app-company>
        <app-school [hidden]="newExperience.type != 'Echange'"
                     [(nextPage)]="id"
        ></app-school>
        <!--<app-new-company [(newCompanyView)]="newCompanyView" [hidden]="!newCompanyView"></app-new-company>-->
      </div>

      <!--<div class="container-content-3" [hidden]="id != 4">-->
        <!--<app-subject></app-subject>-->
      <!--</div>-->

      <div class="container-content-3" [hidden]="id != 4">
        <app-personal-info [(getNewUser)]="newUser"></app-personal-info>
      </div>

      <div class="container-content-3" [hidden]="id != 5">
        <app-photo></app-photo>
      </div>

      <div class="container-content-3" [hidden]="id != 6">
        <app-summary
          [newExperience]="newExperience"
          [newUser]="newUser"
          [companySelected]="companySelected"
          [(idPage)]="id"
        ></app-summary>
      </div>

      <!--<div class="container-content-2" [hidden]="id != 2">-->
        <!--<app-legal></app-legal>-->
      <!--</div>-->

      <div class="container-content-3" [hidden]="id != 7">
        <app-confirmation-form></app-confirmation-form>
      </div>
      <div class="container-footer">
        <div class="bottom" [hidden]="id <= 1 || id == 3 || id >= 6">
          <!--<a class="btn btn-default btn-lg btn-next pull-right" (click)="createCompany()">Create Company</a>-->
          <a class="btn btn-default btn-lg btn-next pull-right" (click)="nextPage(id)">Suivant</a>
        </div>
        <div class="bottom" [hidden]="id != 7">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="legalAccepted">J'ai lu et j'accepte les conditions générales d'utilisation</label>
          </div>
          <button class="btn btn-primary btn-lg btn-next pull-right" (click)="create()" [disabled]="!legalAccepted">Confirmer</button>
        </div>
      </div>
    </div>
</div>
</div>
